<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Nudiebranch Images 🌊🐉</div>
    <p>
      Use images of 
      the <a href="https://www.wikiwand.com/en/Nembrotha_kubaryana"><strong>Dusky Nembrotha</strong></a> aka thevariable neon slug,\n
      <a href="https://www.wikiwand.com/en/Berghia_coerulescens"><strong>Berghia coerulescens</strong></a>,\n
      <a href="https://www.wikiwand.com/en/Chromodoris_lochi"><strong>Loch's chromodoris</strong></a>,\n
      <span title="this is a pun cause its the largest of the bunch... probably not a good sign when you have to explain your own jokes!">and last but far from least</span>,\n
      the <a href="https://www.wikiwand.com/en/Spanish_dancer"><strong>Spanish dancer</strong></a>!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
